$base-rem-size:16px;

$Roboto:'Roboto', sans-serif;
$Nanum : 'Nanum Gothic', sans-serif;

$breakpoint-mobile: 0px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1025px;

$pointColor : #e5fc6e
// $pointColor :  #ebfb48;
// $pointColor : #f9e6a1;
// $pointColor :  #f87c56;
