@use '../abstracts' as *;
.section_slider{
  position: relative;
  .slide_fixed_text{
    @include absolute();
    z-index: 9;
    text-align: center;
    font-size: 3.125rem;
    line-height: 1.5;
    color: #fff;
    font-family: $Nanum;
    font-weight: 700;
    white-space: nowrap;
  }
}

.section_current_events{
  padding: rem(80px) 0;
  >div{
    position: relative;
  }
  .btn_view_more{
    position: absolute;
    right: 0;
    top: 0;
  }

  .title_h2{
    padding-bottom: rem(80px);
  }
}

@include mobile{
  .section_slider{
    .slide_fixed_text{
      font-size: 1.6rem;
      line-height: 1.4;
      word-break: keep-all;
    }
  }

  .section_current_events{
    padding: rem(80px) 0;
    margin-bottom: rem(100px);
  
    .btn_view_more{
      left: 50%;
      top: calc(100% + 1rem);
      transform: translateX(-50%);
      width: rem(100px);
      height: rem(50px);
      padding: rem(5px);
      font-size: rem(12px);
    }

    .title_h2{
      padding-bottom: rem(20px);
    }
  }
}